# Ignore html files
*.html

# Ignore some Rmd files
*_zzz_misc.Rmd

# ignore all folders that are caches from the .Rmd
*_cache/
*_files/

# ignore deprecated files
*deprecated/

# ignore DS_store files
*.DS_Store

Code/.Rhistory


*.Rdata

*vignettes/
